!!! 5
//- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
//if lt IE 7 <html class="no-js ie6 oldie" lang="en">
//if IE 7 <html class="no-js ie7 oldie" lang="en">
//if IE 8 <html class="no-js ie8 oldie" lang="en">
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]

  head
    title=page_title

    meta(name='viewport', content='width=580; user-scalable=no;')

    //- These scripts can't be deferred - or we will run into
    //- some unusual behavior if CSS or deferred scripts make
    //- use of their functionality.
    != assets.js('modernizr')
    != assets.js('respond')
    != assets.js('jquery')
    != assets.js('jquery.backgroundPosition')

    != assets.css('common')

    != assets.js('main')

  body
    #page-container
      #content!=body
      footer#footer
        .status=latest_twit.text
        .author
          a(href='http://twitter.com/#!/'+latest_twit.user.screen_name)=latest_twit.user.screen_name
