extends ../index


block bodyClass
  - bodyClass = 'blog index';


block title
  title blog - monokro.me


block content
  each article in articles
    article.article.intro
      header
        h2: a(href=article.url)= article.title
        p.date= moment(article.date).format('MM/DD/YYYY')

      section!=typogr(article.intro).typogrify()

      if article.hasMore
        p.more
          a(href=article.url) more


block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer

    if nextPage
      a(href=nextPage.url) Next page »
