#header
	#logo-container
		#logo

	h1.heading
		a(href="http://twitter.com/#!/monokrome")="monokrome"

	h2.subheading
		a(href="http://twitter.com/#!/LimpidTech")="@LimpidTech"

#content.tabbed.collapsible
	ul
		li
			a(href='#projects')='Projects'
		li
			a(href='#music')='Music'

	div#projects
		div.accordion.collapsible.no-default.no-auto-height
			- each projects, category in project_categories
				h3=category

				ul(id='nodejs-projects-' + category.toLowerCase())
					- each project in projects
						li
							a(href=project.url, target=project.name)=project.name
							h5=project.description

	div#music
		div.accordion.collapsible.no-default.no-auto-height
			- each album in music_albums
				h3
					span.year=new Date(album.released).getFullYear()
					span.name=album.name

				ul(id='music-album-' + album.name.toLowerCase())
					- each track in album.tracks
						li
							span.track-number=track.number
							span.track-name=track.name

							span.ui-icon.ui-icon-play
							span.ui-icon.ui-icon-pause

							ul.download-list
								- each friendly_name, format in album.download_formats
									li
										a(href=track.get_location(format), target='_audio')=friendly_name
